<h1>All Ads <%= link_to "New", new_advertisement_path(@advertisement), class: "btn btn-success" %></h1>
<% @advertisements.each_with_index do |advertisement, index| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to advertisement.title, advertisement %>
            </h4>
        </div>
    </div>
<% end %>
