<h1>Advertisements#show</h1>
<p>Find me in app/views/advertisements/show.html.erb</p>

<!--<%= params %>-->
<h1><%= @advertisement.title %></h1>
<p><%= @advertisement.copy %></p>
<p>Price: <%= @advertisement.price %></p>
