<h1>All Posts <%= link_to "New", new_post_path(@post), class: "btn btn-success" %></h1>
<% @posts.each_with_index do |post, index| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <%= link_to post.title, post %>
            </h4>
        </div>
    </div>
<% end %>