// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
    border-radius: 88px;
    border: none;
    box-shadow: 0 6px 6px #888;
    padding: 8px 33px;
    font-family: "Trebuchet MS";
    font-size: 38px;
    line-height: 38px;
    font-weight: bold;
    outline: none;
    transition: background-color .3s linear;
}

.social-btn:hover {
    background-color: crimson;
}

.social-btn a, .social-btn a:hover {
    color: #222;
    text-decoration: none;
}